<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Draft 2</title>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--INTERNAL-->
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/registration.css" th:href="@{/css/registration.css}">
    <script src="main.js"></script>

</head>
<body>
<!--NAVBAR-->
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand active" href="/">
            <img src="leftBrainRightBrain.png" alt="Logo" style="height: 70px;">
        </a>
        <p>[[${session.user.FirstName}]]</p>
    </nav>

    <ul class="navBar">
    <!--
    <li style="float:right"><p th:if="${session.user.FirstName = guest}"  class="active" >Results Guest</p></li>
    -->

<p></p>

    <div th:if="${session.user.FirstName != 'guest'}" >


        <p><a href="/profile" >Profile</a></p>
        <p><a href="/logout" >Logout</a></p>
    </div>
        <div th:if="${session.user.FirstName == 'guest'}" >
            <li style="float:right"><a class="active" href="/login">Login</a></li>
            <li style="float:right"><a class="active" href="/registration">SignUp</a></li>
            <li style="float:right"><a class="active" href="/logout">Close</a></li>
        </div>
    </ul>

    <form action="home" method="POST">
        <div class="container-fluid">
            <div class="bgPulse">
                <span><button type="submit" name="color" value="red" id="button1">red</button></span>
                <span><button type="submit" name="color" value="orange" id="button2">orange</button></span>
                <span><button type="submit" name="color" value="yellow" id="button3">yellow</button></span>
                <span><button type="submit" name="color" value="bright_green" id="button4">bright_green</button></span>
                <span><button type="submit" name="color" value="dark_green" id="button5">dark_green</button></span>
                <span><button type="submit" name="color" value="sky_blue" id="button6">sky_blue</button></span>
                <span><button type="submit" name="color" value="blue" id="button7">blue</button></span>
                <span><button type="submit" name="color" value="purple" id="button8">purple</button></span>
            </div>
        </div>
    </form>

</body>
</html>
