<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LOGIN</title>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--GOOGLE FONT: ROBOTO-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">

    <!--INTERNAL-->
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/home.css" th:href="@{/css/home.css}">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/registration.css" th:href="@{/css/registration.css}">
</head>
<body>

<!--NAVBAR-->
    <nav class="navbar">
        <a class="navbar-brand active" href="/">
            <img src="leftBrainRightBrain.png" alt="Logo" style="height: 70px;">
        </a>
    </nav>

<!--PASSWORD RESET-->
    <div class="container">
        <div id="login-box">
            <div class="left">
                <h1>Reset your password</h1>
                <br>
                <div>
                    <form role="form" action="/passwordReset" method="POST">
                        <div>
                            <input type="text" name="newPassword" value="New Password" placeholder="Enter New Password" required />
                            <input type="email" name="email" value="Email" placeholder="Enter Email" required />
                            <input type="submit" name="submit" value="Confirm" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>

<!--
<form role="form" action="/ChangeEmail" method="POST">
    <div>
        <input type="email" name="emailOld" value="emailOld" placeholder="Enter Old Email" required />
        <input type="email" name="emailNew" value="emailNew" placeholder="Enter New Email" required />
        <input type="submit" name="submit" value="Confirm Changes" />
    </div>
</form>
<br>

newPassword
enterEmail
Confirm Changes
-->